@{
    ViewBag.Title = "ТехноВятка";
}
<header class="header parallax-window lending" data-parallax="scroll" data-image-src="/img/bg1.jpg">
    <div class="container header-container">
        <div class="header-block">
            <h1>ТехноВятка</h1>
            <p>АвтоСервис, который все рекомендуют!</p>
            <a href="/home/signup"><button class="btn-send">Зарегистрироваться</button></a>
            <a href="#about" class="btn-arrow">
                <svg class="t-cover__arrow-svg" style="fill:#ffffff;" x="0px" y="0px" width="38.417px" height="18.592px" viewBox="0 0 38.417 18.592"><g><path d="M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z"></path></g></svg>
            </a>
        </div>
    </div>
</header>
<section class="about" id="about">
    <div class="container">
        <div class="about-block">
            <h3 align="center">Немного о нас</h3>
            <p>
                Наши автомеханики всегда готовы быстро поставить точный "диагноз" вашему автомобилю и оперативно его отремонтировать. У нас есть специалисты различных профилей, с опытом работы более 10 лет, в связи с чем мы готовы отремонтировать автомобиль практически любой марки. Наши услуги начиная от замены колеса и заканчивая ремонтом электрики и двигателя.
                Собственная служба снабжения обеспечивает быструю доставку автозапчастей в ускоренные сроки и по выгодным ценам
            </p>
        </div>
    </div>
</section>
<footer class="services" id="services">
    <div class="container" style="padding-left:60px; padding-right:60px">
        <div class="section-title">
            <h2>Услуги автосервиса</h2>
            <p>Наши опытные автомеханики быстро решат любую вашу проблему!</p>
        </div>
        <div class="services-block">
            <div class="services-item">
                <div class="services-item-img">
                    <img src="/img/card1.jpg" alt="">
                </div>
                <h3>ДИАГНОСТИКА АВТОМОБИЛЯ И ЕГО ОТДЕЛЬНЫХ ЧАСТЕЙ</h3>
                <p>Мы выполняем все виды диагностики автомобилей абсолютно любых марок</p>
            </div>
            <div class="services-item">
                <div class="services-item-img">
                    <img src="/img/card2.jpg" alt="">
                </div>
                <h3>КАПИТАЛЬНЫЙ РЕМОНТ ДВИГАТЕЛЕЙ ЛЮБЫХ МАРОК АВТО</h3>
                <p>Такой ремонт восстановит двигатель вашего автомобиля</p>
            </div>
            <div class="services-item">
                <div class="services-item-img">
                    <img src="/img/card3.jpg" alt="">
                </div>
                <h3>УСТАНОВКА СИГНАЛИЗАЦИИ И МУЗЫКИ</h3>
                <p>Специалисты всегда помогут и подскажут, какую сигнализацию лучше поставить и дадут гарантию на свою работу</p>
            </div>
        </div>
        <div class="services-block">
            <div class="services-item">
                <div class="services-item-img">
                    <img src="/img/card4.jpg" alt="">
                </div>
                <h3>РЕМОНТ КОРОБКИ ПЕРЕДАЧ, ЗАМЕНА МОСТА И РЕДУКТОРА</h3>
                <p>Они не менее важные детали, чем двигатель, поэтому если стали слышны гул, вой или шум стоит обратится к нам</p>
            </div>
            <div class="services-item">
                <div class="services-item-img">
                    <img src="/img/card5.jpg" alt="">
                </div>
                <h3>ДИАГНОСТИКА БЕНЗИНОВЫХ И ДИЗЕЛЬНЫХ ДВИГАТЕЛЕЙ</h3>
                <p>Диагностика поможет точно определить, какая проблема в вашем автомобиле</p>
            </div>
            <div class="services-item">
                <div class="services-item-img">
                    <img src="/img/card6.jpg" alt="">
                </div>
                <h3>ЗАМЕНА МАСЛА, ФИЛЬТРОВ, СВЕЧЕЙ, ЖИДКОСТЕЙ</h3>
                <p>Квалифицированные специалисты оперативно произведут замену расходных материалов</p>
            </div>
        </div>
    </div>
</footer>


<footer class="footer">
    <div class="container">
        <div class="footer-block">
            <ul class="footer-links flex">
                <li><a href="/Home/Index">Главная</a></li>
                <li><a href="/Home/Index#about">О нас</a></li>
                <li><a href="/Home/Index#services">Услуги</a></li>
                <li><a href="/home/signup">Зарегистрироваться</a></li>
            </ul>
            <div class="footer-label">ТехноВятка</div>
            <p>г.Киров ул.Московская д.100| Почта: autoservice43@service.com | Телефон: +7 999 999 99 99</p>
        </div>
    </div>
</footer>